<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="MongoDB.Server" value="null"/>
        <add key="MongoDB.Port" value="null"/>
        <add key="MongoDB.Database" value="null"/>
        <add key="MongoDB.Username" value="null"/>
        <add key="MongoDB.Password" value="null"/>
    </appSettings>
</configuration>